.src-button{
    height: 39.4px;
    max-width: 66px;
    width: 60px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    margin-left: -1px;
}
.voice-button{
    height: 40px;
    width: 40px;
    border-width: 1px 1px 1px 1px;
    border-style: none;
    border-color: grey;
    border-radius: 20px;
    margin-left: 20px;
}
.notify-button{
    position: relative;
}
.notifications{
    padding: 1px 5px 1px 5px;
    font-family: roboto,Arial;
    font-size: 12px;
    border-radius: 20px;
    background-color: #c32626;
    color: white;
    position: absolute;
    top: 1px;
    right: -1px;
}
